:root {
  /* primary colors with opacity */
  --Light-red-opac: hsla(0, 100%, 67%, 10%);
  --Orangey-yellow-opac: hsla(39, 100%, 56%, 10%);
  --Green-teal-opac: hsla(166, 100%, 37%, 10%);
  --Cobalt-blue-opac: hsla(234, 85%, 45%, 10%);

  /* primary colors without opacity */
  --Light-red: hsla(0, 100%, 67%);
  --Orangey-yellow: hsla(39, 100%, 56%);
  --Green-teal: hsla(166, 100%, 37%);
  --Cobalt-blue: hsla(234, 85%, 45%);

  /* Gradients */

  --Light-slate-blue-background: hsl(252, 100%, 67%);
  --Light-royal-blue-background: hsl(241, 81%, 54%);
  --Violet-blue-circle: hsla(256, 72%, 46%, 1);
  --Persian-blue-circle: hsla(241, 72%, 46%, 0);

  /* neutral */

  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
  /* Use transparency to get the color variations necessary to match the design. Hint: look into using `hsla()`.  */
}

@font-face {
  font-family: Hanken-Grotest-Medium;
  src: url(./assets/fonts/static/HankenGrotesk-Medium.ttf);
}

@font-face {
  font-family: Hanken-Grotest-Bold;
  src: url(./assets/fonts/static/HankenGrotesk-Bold.ttf);
}

@font-face {
  font-family: Hanken-Grotesk-ExtraBold;
  src: url(./assets/fonts/static/HankenGrotesk-ExtraBold.ttf);
}

/* pargaraph font size : 18px */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Pale-blue);
}

main {
  width: 600px;
  height: 400px;
  background-color: var(--White);
  margin: 250px auto;
  border-radius: 20px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  flex-direction: row;
}

.right-main-section {
  height: auto;
  width: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-main-section h1 {
  color: var(--Dark-gray-blue);
  font-family: Hanken-Grotesk-ExtraBold;
}

.results-reaction {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--Light-red-opac);
  padding: 10px;
  border-radius: 10px;
}

.skill-div {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.results-memory {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--Orangey-yellow-opac);
  padding: 10px;
  border-radius: 10px;
}

.results-Verbal {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--Green-teal-opac);
  padding: 10px;
  border-radius: 10px;
}

.results-Visual {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--Cobalt-blue-opac);
  padding: 10px;
  border-radius: 10px;
}

.results-reaction p,
.results-memory p,
.results-Verbal p,
.results-Visual p {
  font-family: Hanken-Grotest-Medium;
}

.results-reaction p {
  color: var(--Light-red);
}

.results-memory p {
  color: var(--Orangey-yellow);
}

.results-Verbal p {
  color: var(--Green-teal);
}

.results-Visual p {
  color: var(--Cobalt-blue);
}

button {
  padding: 10px;
  border-radius: 30px;
  background-color: var(--Cobalt-blue);
  color: var(--White);
}

button:hover {
  cursor: pointer;
  background-color: var(--Violet-blue-circle);
}

.current-deg {
  font-family: Hanken-Grotest-Bold;
}

/* adjusting the left side section */
.left-main-section {
  height: 100%;
  width: 50%;
  background-color: var(--Light-royal-blue-background);
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: var(--White);
  text-align: center;
}

.radial-gradient-div {
  margin: 0 auto;
  width: 50%;
  height: 50%;
  background-color: white;
  background: linear-gradient(
    var(--Dark-gray-blue),
    var(--Light-royal-blue-background)
  );
  border-radius: 50%;
}

.left-section-degree {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.actual-degree {
  font-size: 2.5rem;
}

.span,
.left-title,
.result-summary p {
  font-family: Hanken-Grotest-Medium;
  color: var(--Light-lavender);
}

.result-summary p {
  margin-top: 20px;
  font-size: 1.125rem;
}

.result-summary h2 {
  font-family: Hanken-Grotest-Medium;
}

@media screen and (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 400px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .left-main-section {
    height: 50%;
    width: auto;
    background-color: var(--Light-royal-blue-background);
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--White);
    text-align: center;
  }
  .right-main-section {
    height: 50%;
    width: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
